.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 5% 4%;
    font-family: Arial, sans-serif;
  }
  
  .footer-row {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon {
    margin: 0 12px;
    display: inline-block;
  }
  
  .social-icon img {
    width: 40px;
    height: auto;
  }
  
  .footer-link {
    margin: 0 10px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .separator {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #1d1d1d;
    margin: 0 10px;
  }
  
  .footer-copy {
    margin: 0;
    font-size: 0.8rem;
  }
  
  @media (max-width: 768px) {
    .social-icon img {
      width: 30px;
      height: auto;
    }
    .footer-link {
      font-size: 0.8rem;
    }
  }
  